doctype html
html
    head
        title= title
        link(rel="shortcut icon", href="#")
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    body
        div(id="content")   
            block content
    footer
        p Copyright © Aleksi Haapalainen 2023

