extends layout 

block content 
    h1 Login page
    form(action='/login', method='post', id='loginForm')
        label(for='email') Email
        input(type='email', name='email', id='email', required)
        label(for='password') Password
        input(type='password', name='password', id='password', required)
        input(class='btn', type='submit', value='login')
    p(id='login-error')
    script(src='/js/login.js')