body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

::placeholder {
  color: #070707;
  margin-right: 10px;
}

#add-instruction {
  margin-top: 1px;
}

#add-ingredient {
  margin-top: 1px;
}

#image-input {
  margin-top: 10px;
}

#categories {
  border: solid grey;
  border-radius: 5px;
  border-width: thin;
  margin: 15px;
  margin-left: 0;
  width: 100%;
}

.category-element {
  margin: 5px;
}