body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

::placeholder {
  color: #070707;
  margin-right: 10px;
}

#add-instruction {
  margin-top: 1px;
}

#add-ingredient {
  margin-top: 1px;
}